@model Megazine.Models.ArticleSecond;
@{
    ViewData["Title"] = "Update";
}
<form asp-action="Update">
<h1>Update Article Data</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model=>Model.Id)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model=>model.Id)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model=>Model.Title)
                </div>
                <div class="col-md-9">
                    <input asp-for="Title" class="form-control"/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model=>Model.Description)
                </div>
                <div class="col-md-9">
                    <input asp-for="Description" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model=>Model.Author)
                </div>
                <div class="col-md-9">
                    <input asp-for="Author" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model=>Model.CreatedAt)
                </div>
                <div class="col-md-9">
                    @*@Html.DisplayFor(model=>model.CreatedAt)*@
                    <input asp-for="CreatedAt" class="form-control"/>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-2">
                    <input type="submit" value="Edit" asp-action="Update" class="btn btn-primary"/>
                </div>
                <div class="col-md-10">
                    <a asp-action="Index" asp-controller="Article" class="btn btn-danger" >Back To Index</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
</form>

